<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <style>
    .jumbotron {
      margin-top: 30px;
      margin-bottom: 0px;
      padding: 40px;
      background-color: #f8f9fa;
      border-radius: 10px;
    }

    .jumbotron h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    .form-container {
      max-width: 500px;
      margin: auto;
    }

    .form-container button {
      display: block;
      margin: 0 auto;
    }

    .back-link {
      margin-top: 15px;
      display: block;
      text-align: center;
    }
  </style>
</head>

<body>

  {% include "exam/navbar.html" %}
  <br><br>

  <div class="jumbotron">
    <div class="form-container">
      <h2>Reset your password</h2>

      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary rounded-0">Change Password</button>
      </form>

      
    </div>
  </div>

  <br><br><br><br>
  {% include "exam/footer.html" %}

</body>
</html>
